* {
    /*tüm sayfa ile ilgili seyler*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'sans-serif';
    list-style: none;
    text-decoration: none;
}

:root {
    /*kök*/
    --bg-color: #020312;
    --text-color: #fff;
    --primary-color: #eb4a4a;
    --secondary-color: grey;
    --h1-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --h5-font: 1.3rem;
    --h6-font: 1.2rem;
    --p-font: 1rem;
    --a-font: 1.2rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    /*position: fixed;*/
    position: sticky !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 25px 15%;

}

.logo img {
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--secondary-color);
    font-size: var(--p-font);
    padding: 10px 25px;
    transition: all .40s ease;
    border-radius: 0.8rem;
}

.navbar a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

section {
    padding: 200px 15% 90px;
}

.home {
    width: 100%;
    height: 80vh;
    /* max-width: fit-content;*/
    max-width: 100%;
    min-width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

.home-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.2;
}

.home-text span {
    color: var(--primary-color);
}

.home-text h3 {
    font-size: var(--h3-font);
    font-weight: 600;
    margin-bottom: 2rem;
}

.btn {
    font-size: var(--a-font);
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 40px;
    border-radius: 0.8rem;
    transition: all .40s ease;
}

.btn:hover {
    background: transparent;
    opacity: 1;
    border: 1px solid var(--primary-color);
}

header.sticky {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--bg-color);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*  2sütun 1fr, 50%, 50% - 3 sütun, 1fr , %33.33, %33.33, %33.33
    /* 2fr 4fr 4fr gibi bir tanılama sunduysak, bunun bize çıktısı, 
    20%(2birim) 40%(4 birim) 40%(4 birim) */
    align-items: center;
    gap: 2rem;
}

.about-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    font-weight: 600;
}

.about-text h2 {
    font-size: var(--h2-font);
}

.about-text p {
    color: var(--secondary-color);
    font-size: var(--p-font);
    line-height: 25px;
    margin-bottom: 2rem;
}

.about-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about-features h5 {
    font-size: var(--h5-font);
    font-weight: 600;
}

.about-img {
    width: 100%;
    height: auto;
    max-width: 450px;
}

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    font-weight: 600;
    margin-bottom: 10px;
}

.main-text h4 {
    font-size: var(--h4-font);
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1.5rem;
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    */
    margin-top: 4rem;
    text-align: center;
}

.box {
    background-color: #12141c;
    padding: 40px;
    border-top: 5px solid transparent;
    border-radius: 0.8rem;
}

.box h3 {
    margin-top: 0.5rem;
    color: var(--text-color);
    font-size: var(--h3-font);
}

.box p {
    color: var(--secondary-color);
    margin-top: 20px;
    line-height: 1.4;
}

.box:hover {
    border-top: 5px solid var(--primary-color);
    transition: all .40s ease;
}

.box:hover h3 {
    color: var(--primary-color);
}


.portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: left;
    gap: 2rem;
    margin-top: 4rem;

}

.portfolio-box {
    background-color: #12141c;
    padding: 20px;
    border: 5px solid transparent;
    border-radius: 0.8rem;
}

.portfolio-box:hover {
    border-top: 5px solid var(--primary-color);
    transition: all .40s ease;
}


.portfolio-box img {
    width: 100%;
    height: auto;
}


.portfolio-box-text {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.portfolio-box-text h6 {
    font-size: var(--h6-font);
    color: var(--primary-color);
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.fas-fa-heart {
    color: var(--text-color);
    margin-top: 1.5rem;
    margin-bottom: 2rem;

}

.fas-fa-heart:hover {
    color: var(--primary-color);
}


.portfolio-h3 {
    font-size: var(--h3-font);
    color: var(--text-color);
}

.contact {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    gap: 8rem;
}


.contact-text h2 {
    color: var(--text-color);
    font-size: var(--h2-font);
}

.contact-text h4 {
    color: var(--primary-color);
    font-size: var(--h4-font);
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.contact-text p {
    margin-bottom: 3rem;
    color: var(--secondary-color);
    font-size: var(--p-font);
    line-height: 1.5rem;
}

.contact-data a {
    line-height: 2rem;
    color: var(--secondary-color);
}


.contact-icons {
    padding-top: 2rem;
    color: var(--primary-color);
    gap: 1rem;
}

.contact-icons a {
    border-radius: 5px;
    background-color: var(--box-color);
    color: var(--primary-color);
    padding: 1rem;
    gap: 2px;


}

.contact-icons a:hover {
    box-shadow: 2px 2px 5px white;
    cursor: pointer;

}

.contact-form input,
textarea {
    display: block;
    background-color: #12141c;
    border: 5px solid transparent;
    border-radius: 0.2rem;
    padding: 1rem;
    width: 500px;
}

input {
    height: 50px;
}

input::placeholder {
    color: var(--text-color);
}

textarea::placeholder {
    color: var(--text-color);
}


.last-text {
    text-align: center;
    color: var(--secondary-color);
}